.profile {
    display: block;
    margin: auto;
    max-width: 16em;
    padding-bottom: 5px;
}
.marketing-icon {
    font-size: 4em;
}

.marketing-logo {
    display: inline-block;
    width: 49px;
    height: 4em;
    object-fit: contain;
    vertical-align: top;
    transform: translateY(0.08em);
}

.page-content p {
    font-size: 16px;
}

.page-content li {
    font-size: 16px;
}

.apps-card h2 {
    margin: 0 0 8px 0;
    padding: 0;
}
