---
layout: default
---

<div class="home">

  <div class="row">
      <img src="{{ site.imageurl }}/me-2023-hiking.png" class="profile" alt="me">
  </div>

  <div style="text-align: center" class="row">
    <a href="http://www.linkedin.com/in/{{ site.linkedin_username }}">
      <i class="fa fa-linkedin-square marketing-icon"></i>
    </a>
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github-square marketing-icon"></i>
    </a>
    <a href="https://www.goodreads.com/user/show/20222674-lucas">
      <i class="fab fa-goodreads marketing-icon"></i>
    </a>
    <a href="http://www.last.fm/user/GrokThis">
      <i class="fa fa-lastfm-square marketing-icon"></i>
    </a>
    <a href="https://www.alltrails.com/members/{{ site.alltrails_username }}/recordings">
      <img src="{{ site.baseurl }}/assets/images/alltrails.png" class="marketing-logo" alt="AllTrails">
    </a>
  </div>

  <p class="lead">
    I'm a software engineer in Denver, Colorado. I'm currently on sabbatical, working on personal projects, and
    traveling.
  </p>

  {% if site.posts.size > 0%}
    <h1>Posts</h1>

    <ul class="posts">
        {% for post in site.posts %}
        <li>
            {% assign published_date = post.date | date: "%Y-%m-%d" %}
            {% assign updated_date = post.last_updated | date: "%Y-%m-%d" %}
            {% assign is_draft = false %}
            {% if post.path contains '_drafts/' %}
              {% assign is_draft = true %}
            {% endif %}
            <span class="post-date">
              {{ post.date | date: "%b %-d, %Y" }}
              {% if post.last_updated and updated_date != published_date %} • Updated {{ post.last_updated | date: "%b %-d, %Y" }}{% endif %}
            </span>
            {% if is_draft %}
            <span class="post-list-label">Draft</span>
            {% endif %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  {% endif %}

</div>
