<footer class="site-footer">

  <div class="wrap">
    <div class="footer-col-1 column">
      <span class="footer-heading">Contact me</span>
      <ul>
        <li><a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-square fa-lg"></i>
          {{ site.email }}</a></li>
        <li>
          {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github-square fa-{{ site.social_badge_size }}"></i>
          </a>
          {% endif %}
          {% if site.linkedin_username %}
          <a href="http://www.linkedin.com/in/{{ site.linkedin_username }}">
            <i class="fa fa-linkedin-square fa-{{ site.social_badge_size }}"></i>
          </a>
          {% endif %}
        </li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <span class="footer-heading">Misc</span>
      <ul>
        <li>
          <a href="https://www.google.com/search?q=weather+albuquerque" class="btn btn-primary btn-sm">
            <i class="fa fa-sun-o fa-inverse fa-{{ site.social_badge_size }}"></i>
          </a>
          <a href="http://www.last.fm/user/GrokThis" class="btn btn-primary btn-sm">
            <i class="fa fa-headphones fa-inverse fa-{{ site.social_badge_size }}"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col-3 column">
    </div>

  </div>

</footer>
