<head>
    {% seo %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- JQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/posts.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/apps.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/ikon.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/movement.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/peaks.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/music.css" | prepend: site.baseurl }}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/v4-shims.min.css">
</head>
